<div *ngIf="result">
  <h3>{{title}}</h3>
  <table class="table">
    <thead>
    <tr>
      <th>Driver</th>
      <th>time</th>
      <th>distance</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let r of result; let i = index">
      <td>{{i + 1}}</td>
      <td>{{timeService.minutesToLongTime(r.etaMinutes)}}</td>
      <td>{{(r.distance/1000).toFixed(1) + ' km'}}</td>
    </tr>
    <tr>
      <th>total</th>
      <td>{{timeService.minutesToLongTime(total.etaMinutes)}}</td>
      <td>{{(total.distance/1000).toFixed(1) + ' km'}}</td>
    </tr>
    </tbody>
  </table>
</div>
