@import "src/css/vars";

#side-menu-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}

#wrapper {
  min-height: 100vh;
}

#side-menu-title {

}

.side-menu-border-right {
  box-sizing: border-box;
  border-right: 1px solid rgba(0, 0, 0, .0625);
  border-left: 1px solid rgba(0, 0, 0, .0625);
}


ul li a, .side-menu-item {
  font-size: 17px;
  font-weight: 600;
  white-space: nowrap;
  text-transform: capitalize;
  cursor: pointer;
  width: 100%;
  &:hover{
    color: $text-main-focus;
  }
}


ul {
  background-color: #FFF;
  width: 100%;
}

li {
  height: 50px;
  display: flex;
  align-items: center;
  width: 100%;

  &:hover:not(#version) {
    background-color: #eee;
  }
}

.icon-holder {
  display: inline-block;
  font-size: 17px;
  min-width: 35px;
  min-height: 35px;
  line-height: 35px;
  margin: 0 15px;
  text-align: center;
}

.version{
  align-self: end;
}

a {
  text-decoration: none;
  color: inherit;
}
